<main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
    <section>
<!--Main content-->
<header class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="/img/stitch2.jpg" alt="" class="w-50">
        <h1 class=" my-5 text-uppercase fw-bold ">Just a little about me</h1>
        <p>Stitch, also known as Experiment 626, is one of the titular protagonists of the Lilo & Stitch franchise. He is an illegal genetic experiment created by Jumba Jookiba, whose primary function is to destroy everything he touches. He is designed to be abnormally strong, virtually indestructible, super-intelligent, and very mischievous. His one true place is with Lilo and her ohana.</p>
    </div>
</header>
    </section>
</main>


    <section>
<!--Main content-->
    <div  class="container vh-100 d-flex flex-column justify-content-center align-items-center">
        <img src="/img/stitch3.jpg" alt="do" class="w-50">
        <h1 class=" my-5 text-uppercase fw-bold ">I'm a happy and very Funny</h1>
        <p>“626 was designed to be a monster, but now he has nothing to destroy. You see, I never gave him a greater purpose. What must it be like to have nothing, not even memories to look back on in the middle of the night?”
            ―Jumba giving an example on the instinct of Stitch</p>
    </div>
    </section>


    <section>
        <!--Main content-->
            <div  class="container d-flex flex-column justify-content-center align-items-center">
                <img src="/img/stitch4.jpg" alt="do" class="w-50">
                <h1 class=" my-5 text-uppercase fw-bold ">Singing</h1>
                <p>When 626 soon after saw Lilo looking for a pet dog, he saw her as an unaware hostage and altered his appearance to look less otherworldly and pose as a dog in order for her to adopt him. The plan worked and Lilo adopted 626 and named him Stitch.</p>
            </div>
            </section>